@media only screen and (min-width: 768px) {
  swiper {
    width: 400px;
  }
}

@media only screen and (max-width: 767px) {
  swiper {
    width: 100vw;
  }
}

ion-toolbar {
  --background: transparent;
  display: block;
  position: absolute;
  width: 400px;
  padding-right: 10px;
}

swiper {
  background-color: rgb(0, 0, 0);
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-navigation-color: white;
  min-height: 480px;
  max-height: 480px;
  display: flex;
  align-items: center;

  div {
    height: 480px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
}

img {
  max-height: 480px;
  max-width: 100%;
  width: fit-content;
  object-fit: cover;
}

// swiper-container {
//   --swiper-pagination-color: black;
//   min-height: 480px;
//   max-height: 500px;
//   display: flex;
//   align-items: center;
// }

.flex {
  display: flex;
  justify-content: center;
}
