<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">{{cadastrar ? 'Cadastre-se' : 'Login'}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="FecharModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <section>
    <ng-container *ngIf="!cadastrar; else formRegistrar">
      <form #form="ngForm">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input labelPlacement="floating" label="Email" name="email" [(ngModel)]="login.email" maxlength="200"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input labelPlacement="floating" label="Senha" name="senha" type="password"[(ngModel)]="login.senha" maxlength="50"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
    </ng-container>
  </section>
</ion-content>

<ion-footer>
  <ion-row *ngIf="!cadastrar">
    <ion-col>
      <ion-button expand="block" color="dark" fill="outline" (click)="toggleCadastrar()">Cadastrar-se</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="dark" (click)="Acessar()">Acessar</ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="cadastrar">
    <ion-col>
      <ion-button expand="block" color="dark" fill="outline" (click)="toggleCadastrar()">Login</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="dark" (click)="Cadastrar()">Cadastrar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

<ng-template #formRegistrar>
  <form #form="ngForm">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input labelPlacement="floating" label="Nome" name="nome" [(ngModel)]="cadastro.nome" maxlength="200"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input labelPlacement="floating" label="CPF" name="cpf" cpf [(ngModel)]="cadastro.cpf" maxlength="14"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input labelPlacement="floating" label="Email" name="email" [(ngModel)]="cadastro.email" maxlength="200"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input labelPlacement="floating" label="Senha" name="senha" type="password" [(ngModel)]="cadastro.senha" maxlength="50"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
</ng-template>
