<ng-container *ngIf="usuarioLogado; else loginRegisterTemplate;">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title color="light">Favoritos</ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="FecharModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button >
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ng-container *ngIf="favoritos && favoritos.length; else noItens">
      <div *ngFor="let produto of favoritos; let index = index">
        <produto-card-lista [Tipo]="'Favoritos'" [Produto]="produto" (Excluir)="Excluir(produto, index)" (click)="AbrirModalProdutoDetalhe(produto)"></produto-card-lista>
      </div>
    </ng-container>
  </ion-content>
</ng-container>

<ng-template #loginRegisterTemplate>
  <login-register></login-register>
</ng-template>

<ng-template #noItens>
  <no-itens></no-itens>
</ng-template>
