ion-menu {

  ion-header {
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    width: 65%;
    padding: 20px 0;
  }

  ion-footer {
    box-shadow: none !important;
  }

  ion-col {
    text-align: center;
  }

  ion-button {
    text-transform: none !important;
  }

  ion-item[slot="content"] {
    ion-label {
      padding-left: 20px;
    }
  }
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;

  .pesquisa-container {
    margin-bottom: 20px
  }
}
