<ion-app>
  <ion-menu content-id="content">
    <ion-header>
      <div class="logo-container">
        <ion-img src="../assets/imagens/logo.jpg"></ion-img>
      </div>
    </ion-header>
    <ion-content>
      <div class="pesquisa-container">
        <ion-item>
          <ion-icon name="search"></ion-icon>
          <ion-input type="search" placeholder="Buscar produtos"/>
        </ion-item>
      </div>

      <div class="filtros-container">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>Roupas</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Todos</div>
            <div class="ion-padding" slot="content">Camisas</div>
            <div class="ion-padding" slot="content">Calças</div>
            <div class="ion-padding" slot="content">Moletons</div>
            <div class="ion-padding" slot="content">Acessórios</div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header">
              <ion-label>Skate</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Todos</div>
            <div class="ion-padding" slot="content">Shapes</div>
            <div class="ion-padding" slot="content">Trucks</div>
            <div class="ion-padding" slot="content">Rodas</div>
            <div class="ion-padding" slot="content">Outros</div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-content>
  </ion-menu>

  <ion-content>
    <ion-router-outlet id="content"></ion-router-outlet>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button expand="full" fill="none">
            <ion-icon name="person-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" fill="none" (click)="AbrirModalFavoritos()">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" fill="none" (click)="AbrirModalSacola()">
            <ion-icon name="bag-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-app>
