<ion-app>
  <ion-menu content-id="content">
    <ion-header>
      <div class="logo-container">
        <ion-img src="../assets/imagens/logo.jpg"></ion-img>
      </div>
    </ion-header>
    <ion-content>
      <div class="pesquisa-container">
        <form #form="ngForm">
          <ion-item>
            <ion-icon name="search"></ion-icon>
            <ion-input type="search" placeholder="Buscar produtos" (keypress)="keyPress($event.keyCode)"
              [(ngModel)]="busca" name="busca"/>
          </ion-item>
        </form>
      </div>
      <ion-item *ngIf="usuarioLogado && usuarioLogado.administrador" lines="none" [button]="true" button (click)="navigate('/add-produto')">
        <ion-label>Novo produto</ion-label>
      </ion-item>
      <br>
      <ion-item *ngIf="usuarioLogado && usuarioLogado.administrador" lines="none" [button]="true" button (click)="navigate('/pedidos')">
        <ion-label>Pedidos</ion-label>
      </ion-item>
      <br>

      <div class="filtros-container">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>Roupas</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/roupas')">
              <ion-label>Todos</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/roupas/camisetas')">
              <ion-label>Camisetas</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/roupas/calças')">
              <ion-label>Calças</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/roupas/bermudas')">
              <ion-label>Bermudas</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/roupas/moletons')">
              <ion-label>Moletons</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/roupas/acessorios')">
              <ion-label>Acessórios</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/roupas/tênis')">
              <ion-label>Tênis</ion-label>
            </ion-item>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header">
              <ion-label>Skate</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/skate/')">
              <ion-label>Todos</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/skate/shapes')">
              <ion-label>Shapes</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/skate/trucks')">
              <ion-label>Trucks</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/skate/rodas')">
              <ion-label>Rodas</ion-label>
            </ion-item>
            <ion-item lines="none" slot="content" button (click)="navigate('/produtos/skate/outros')">
              <ion-label>Outros</ion-label>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-content>

    <ion-footer *ngIf="usuarioLogado">
      <ion-row>
        <ion-col>
          Bem vindo
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{usuarioLogado.nome}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="none" (click)="Desconectar()">Desconectar</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-menu>

  <ion-content>
    <ion-router-outlet id="content" [swipeGesture]="false"></ion-router-outlet>
  </ion-content>

  <ion-footer *ngIf="!usuarioLogado || !usuarioLogado.administrador">
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button expand="full" fill="none" (click)="AbrirModalConta()">
            <ion-icon name="person-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" fill="none" (click)="AbrirModalFavoritos()">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" fill="none" (click)="AbrirModalSacola()">
            <ion-icon name="bag-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-app>
