<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">Sacola</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="FecharModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngFor="let Produto of Sacola; let index = index">
    <produto-card-lista [Tipo]="'Sacola'" [Produto]="Produto" (Excluir)="Excluir(index)" (Alterado)="Salvar()" (click)="AbrirModalProdutoDetalhe(Produto)"></produto-card-lista>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="dark" (click)="FecharPedido()">Finalizar Pedido</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
