ion-card {
  padding: 10px;
  max-width: 220px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.produto-container {
  ion-img {
    width: 200px;
    height: 200px;
  }

  .info-container {
    padding-left: 10px;
  }
}

.titulo {
  height: 50px;
  line-height: initial;
}

.img-container {
  ion-icon {
    position: absolute;
    right: 10px;
    font-size: 25px;

    &.selected {
      color: red;
    }
  }
}

