<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="FecharModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="carregado; else loader">
    <section>
      <div class="anexos-container">
        <anexo-card [Anexos]="Imagens"></anexo-card>
      </div>

      <div class="form-container">
        <ion-row>
          <ion-col>
            <h1 class="horizontal-padding">{{Produto.nome}}</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3 class="horizontal-padding">{{Produto.valor | currency:'BRL'}}</h3>
          </ion-col>
        </ion-row>

        <div *ngIf="Tamanhos.length > 0">
          <ion-row>
            <ion-col>
              <h3 class="horizontal-padding">Tamanhos</h3>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="tamanho-container">
              <tamanho *ngFor="let Tamanho of Tamanhos" [Tamanho]="Tamanho" [Disabled]="Tamanho.quantidade == 0" [Selecionado]="TamanhoSelecionadoID == Tamanho.tamanhoID" (click)="setTamanhoSelecionado(Tamanho)"></tamanho>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </section>
  </ng-container>
</ion-content>

<ion-footer class="tela-pequena" *ngIf="carregado">
  <ion-toolbar>
    <ion-row>
      <ion-col *ngIf="usuarioLogado && usuarioLogado.administrador">
        <ion-button expand="block" fill="outline" color="dark" (click)="EditarProduto()">
          Editar
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!usuarioLogado || !usuarioLogado.administrador">
        <ion-button expand="block" color="dark" fill="outline" (click)="addFavoritos()"
        [disabled]="!Produto.ativo">
          {{Produto.favorito ? 'Remover dos favoritos' : 'Adicionar aos favoritos'}}
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!usuarioLogado || !usuarioLogado.administrador">
        <ion-button expand="block" color="dark" (click)="addSacola()"
        [disabled]="(Produto.tamanhoUnico && Produto.quantidadeEstoque == 0) || (!Produto.tamanhoUnico && TamanhoSelecionadoID == 0) || !Produto.ativo">
          Adicionar na sacola
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ng-template #loader>
  <loader></loader>
</ng-template>
