<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home <br>
  <br>
  home <br>
  home <br>
  home <br>
  home <br>
  home2 <br>
  home2 <br>
  home3 <br>
</ion-content>
