<ion-card>
  <ion-row>
    <div class="produto-container">
      <div class="img-container">
        <ion-img [src]="'data:image/jpeg;base64, ' + Produto.caminhoImagem"></ion-img>
      </div>

      <div class="info-container">
        <span class="titulo bold text-ellipsis-2">{{Produto.nome}}</span><br>
        <span class="sub-titulo bold">{{Produto.valor | currency:'BRL'}}</span><br>
        <span *ngIf="Tipo !== 'Favoritos' && Produto.tamanhoNome">Tamanho: {{Produto.tamanhoNome}}</span>
      </div>
    </div>
  </ion-row>
  <ion-row (click)="$event.stopPropagation();$event.preventDefault();">
    <ion-col *ngIf="Tipo === 'Sacola'" size="auto">
      <ion-button fill="none" (click)="SubtrairClick()" [disabled]="Produto.quantidade <= 1">
        -
      </ion-button>
    </ion-col>
    <ion-col *ngIf="Tipo === 'Sacola'" size="2" style="display: flex; justify-content: center;">
      <ion-button fill="none" [disabled]="true" style="opacity: 1;">
        {{Produto.quantidade}}
      </ion-button>
    </ion-col>
    <ion-col *ngIf="Tipo === 'Sacola'" size="auto">
      <ion-button fill="none" (click)="AdicionarClick()" [disabled]="Produto.quantidade + 1 > Produto.quantidadeMaxima">
        +
      </ion-button>
    </ion-col>
    <ion-col></ion-col>
    <ion-col size="auto" style="display: flex; justify-content: end;">
      <ion-button fill="none" (click)="ExcluirClick()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>
