<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>Novo produto</ion-title>
  </ion-toolbar>
</ion-header>

<ng-template #templateForm>
  <form #form="ngForm">
    <ion-list-header class="sub-titulo bold ion-no-padding">
      Produto
    </ion-list-header>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input label="Nome" labelPlacement="floating" required [(ngModel)]="Produto.nome" name="Nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input label="Valor" labelPlacement="floating" required [(ngModel)]="Produto.valor" name="Valor"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-select label="Tipo" label-placement="floating" name="tipo" [(ngModel)]="Produto.tipo">
            <ion-select-option *ngFor="let tipo of TiposRoupa" [value]="tipo.id">Roupa - {{tipo.nome}}</ion-select-option>
            <ion-select-option *ngFor="let tipo of TiposSkate" [value]="tipo.id">Skate - {{tipo.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="Produto.tamanhoUnico">
      <ion-col>
        <ion-item>
          <ion-input label="Quantidade" labelPlacement="floating" required [(ngModel)]="Produto.quantidadeEstoque" name="Quantidade"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-toggle justify="space-between" [(ngModel)]="Produto.destaque" color="dark" name="Destaque">Destaque</ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-toggle justify="space-between" [(ngModel)]="Produto.tamanhoUnico" color="dark" name="TamanhoUnico">Tamanho único</ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <div *ngIf="!Produto.tamanhoUnico">
      <ion-list-header class="sub-titulo bold ion-no-padding">
        Tamanhos
      </ion-list-header>

      <div *ngIf="EditandoTamanho">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input label="Nome" labelPlacement="floating" [(ngModel)]="TamanhoEdit.nome" name="TamanhoNome"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input label="Quantidade" labelPlacement="floating" [(ngModel)]="TamanhoEdit.quantidade" name="TamanhoQuantidade"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="display: flex; justify-content: end;">
            <ion-button fill="outline" color="dark" (click)="cancelarTamanho()">
              Cancelar
            </ion-button>
            <ion-button *ngIf="TamanhoEdit.tamanhoID || TamanhoEdit.salvo" color="danger" (click)="excluirTamanho()">
              Excluir
            </ion-button>
            <ion-button color="dark" (click)="salvarTamanho()">
              Salvar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="!EditandoTamanho">
        <ion-row>
          <ion-col>
            <ion-button color="dark" (click)="addTamanho()">
              Adicionar Tamanho
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="tamanho-container">
            <ng-container *ngFor="let tamanho of Tamanhos">
              <tamanho *ngIf="!tamanho.excluido" [Tamanho]="tamanho" (click)="editTamanho(tamanho)"></tamanho>
            </ng-container>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </form>
</ng-template>

<ion-content>
  <ng-container *ngIf="carregado; else loader">
    <section>
      <div class="produto-container">
        <div class="form-container">
          <ion-content class="tela-grande">
            <ng-container [ngTemplateOutlet]="templateForm"></ng-container>
          </ion-content>

          <div class="tela-pequena">
            <ng-container [ngTemplateOutlet]="templateForm"></ng-container>
          </div>

          <ion-toolbar class="tela-grande">
            <ion-row>
              <ion-col size="auto">
                <ion-button expand="block" fill="outline" color="dark"(click)="anexar()">
                  Anexar
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                <ion-button expand="block" color="danger" [disabled]="!Produto.produtoID" (click)="excluir()">
                  Excluir
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                <ion-button expand="block" color="dark" (click)="salvar()">
                  Salvar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </div>

        <div class="imagens-container">
          <ion-list-header class="sub-titulo bold">
            Imagens
          </ion-list-header>

          <div class="anexos-container">
            <anexo-card [Anexos]="Imagens" [editavel]="true" (excluir)="excluirImagem($event)"></anexo-card>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ion-content>

<ion-footer class="tela-pequena" *ngIf="carregado">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="dark"(click)="anexar()">
          Anexar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" [disabled]="!Produto.produtoID" (click)="excluir()">
          Excluir
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="dark" (click)="salvar()">
          Salvar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ng-template #loader>
  <loader></loader>
</ng-template>


